.CorreliHeader {
/*    font-size: 1em;
    padding:0px;
    margin:0px;
    background: -moz-linear-gradient(270deg,#4065DE, #292961);
    background: -webkit-linear-gradient(top, #4065DE, #292961);
    background: -o-linear-gradient(top, #4065DE, #292961);
    background: -ms-linear-gradient(top, #4065DE, #292961);
    background: linear-gradient(top, #4065DE, #292961);*/
}

.CorreliWindow {
    position: absolute;
    left    : 0;
    right   : 0;
    top     : 5.3em;
    bottom  : 0;
}
h1 {
    padding     :0px;
    margin      :0px;
    height      :3em;
    line-height :2em;
    text-indent :5%;
    color       :#eee;
}
body {
    margin: 0 auto;
}


/* IcoBar */

.IcoBar img {
    margin-right:2px;
    padding: 0.1em;
}

.IcoBar img:hover {
    background-color     : #ccc;
    -moz-border-radius   : 3px;
    -webkit-border-radius: 3px;
    -o-border-radius     : 3px;
    border-radius        : 3px;
}

/*.IcoBar div {
    display: inline-block;
    width: 4px;
    height: 35px;
}

.IcoBarSepModules {
    width:1px;
    height:24px;
    border-right:thin solid lightGrey;
    margin-right:4px;
}*/

.IcoBar {
    height: auto;
    background: darkGrey;
}

.module {
    background: -moz-linear-gradient(270deg, darkGrey, darkGrey, darkGrey, grey);
    background: -webkit-linear-gradient(top, darkGrey, darkGrey, darkGrey, grey);
    background: -o-linear-gradient(top, darkGrey, darkGrey, darkGrey, grey);
    background: -ms-linear-gradient(top, darkGrey, darkGrey, darkGrey, grey);
    background: linear-gradient(top, darkGrey, darkGrey, darkGrey, grey);
    border-right:thin solid grey;
    color: white;
    display: inline-block;
    padding: 1em 1em 0.2em 1em;
    text-align: center;
}

.module_title{
    display: inline-block;
    margin-top: 0.5em;
}



#contextMenu {
    background: white;
    border: thin solid black;
    box-shadow: 3px 3px 3px black;
}
.contextMenuElement {
    cursor: pointer;
    padding: 6px;
}
.contextMenuElement:hover {
    background: grey;
}
